html {
  scroll-behavior: smooth;
  min-width: 100%;

}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #90909000;
  /* display: none; */
  margin-top: 49px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(81, 81, 81, 0.7);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(74, 74, 74);
}

body {
  margin: 0px;
  font-family: 'Libre Franklin', sans-serif;
  overflow: overlay;
}

/* etiquetas */


/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.topnavBaja {
  background-color: rgba(79, 79, 79, 0.922);
  transition: background .3s;
}

.topnavAlta {
  background-color: rgba(156, 156, 156, 0.308);
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #bebebe;
  color: black;
}

/* Add a color to the active/current link */
/* .topnav a.active {
  background-color: #bebebe;
  color: white;
} */

#curriculum {
  float: right;
  border: black 1.5px solid;
  border-radius: 10px;
  height: 80%;
  padding: 12px 16px;
  background-color: rgba(192, 255, 192, 0.388);
  margin-right: 7px;
  color: black;
}

#backgroundInicio {
  height: 100vh;
  width: 100%;
  background-image: url(../img/code-1084923.png);
  background-color: rgba(37, 37, 37, 0.6);
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

#inicio div {
  text-align: center;
  background-image: radial-gradient(rgba(0, 0, 0, 0.224) 40%, rgba(0, 0, 0, 0) 70%);
  width: 50%;
}

.titulo {
  color: white;
  text-shadow: black 0px 0px 50px;
}

#titulo1 {
  font-size: 4em;
}

#titulo2 {
  font-size: 2em;
}

.apartado {
  margin-left: 6%;
  font-weight: bolder;
  font-size: 2.5em;
}

.animado {
  opacity: 0;
}

.mostrarDerecha {
  animation: mostrarDerecha .7s;
}

@keyframes mostrarDerecha {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }

  100% {
    transform: translatex(0);
    opacity: 1;
  }
}

#sobre_mi {
  background-image: url(../img/laptop.png);
  background-size: 20%;
  background-position: 90% 60%;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

#sobre_mi p {
  margin-left: 6%;
  width: 60%;
  font-size: 1.2em;
  text-align: justify;
}

#lenguajes {
  min-height: 70vh;
  /* fondo negro */
  /* background-color: black;
  color: white;
  padding-top: 30px; */
}

#imagenesLenguajes {
  display: flex;
  height: 70%;
  justify-content: center;
  margin-top: 18vh;
  align-items: center;
}

#imagenesLenguajes img {
  width: 15%;
}

#contacto {
  background-color: rgb(36, 36, 36);
  color: white;
  padding-top: 1vh;
}

#contacto h1 {
  top: -70px;
  position: relative;
}

#contactos {
  display: flex;
  min-height: 10vh;
}

#contactos i {
  font-size: 1.4em;
  margin-right: 5px;
}

#contactos h2 {
  top: -50px;
  position: relative;
  margin: auto;
  text-align: center;
}

#contactos a {
  text-decoration: none;
  color: white;
}

#curva {
  margin-bottom: -6vh;

  /* fondo negro */
  /* background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(84, 84, 84, 1) 52%, rgba(255, 255, 255, 1) 100%); */
}

svg {
  width: 150vw;
  overflow: hidden;
  position: relative;
  animation: olas infinite 15s;
  animation-timing-function: ease-in-out;
  bottom: -100px;
}

@keyframes olas {

  0%,
  100% {
    transform: translateX(-50vw);
  }

  50% {
    transform: translatex(0px);
  }
}

/* img {
  box-shadow: black -5px 4px 10px;
} */

@media screen and (max-width: 1200px) {
  svg {
    bottom: -50px;
  }
}

@media screen and (max-width: 680px) {
  html {
    min-width: 100%;
  }

  body {
    min-width: 100%;
  }

  #titulo1 {
    font-size: 3.5em;
  }

  #inicio div {
    width: 70%;
  }

  #titulo2 {
    font-size: 2em;
  }

  .apartado {
    font-size: 2em;
  }

  #contactos h2 {
    font-size: 1em;
  }

  #sobre_mi {
    min-height: 70vh;
  }

  #lenguajes {
    min-height: 40vh;
  }

  #imagenesLenguajes {
    margin-top: 7vh;
  }

  #contacto h1 {
    top: -30px;
  }

  #contactos h2 {
    top: -25px;
  }
  svg {
    bottom: -30px;
  }

}

@media screen and (max-width: 589px) {
  #curriculum {
    display: none;
  }

  #titulo1 {
    font-size: 3.5em;
  }

  #titulo2 {
    font-size: 2em;
  }

  #sobre_mi {
    background-image: none;
  }

  #sobre_mi p {
    margin-left: 6%;
    width: 88%;
  }

  /* #imagenesLenguajes img{
    width: 20%;
  } */

  #contactos {
    display: block;
  }

  #contacto h1 {
    top: -20px;
  }

  #contactos h2 {
    top: -14px;
  }
  svg {
    bottom: 0px;
  }

  #imagenesLenguajes img {
    width: 23%;
  }

}

@media screen and (max-width: 429px) {

  #inicio div {
    width: 80%;
  }

  #imagenesLenguajes img {
    width: 25%;
  }

}